{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialiser le mot de passe</h1>

    {% if app.session.get('reset_password_error') %}
        <div class="alert alert-danger">
            {{ app.session.get('reset_password_error') }}
        </div>
    {% endif %}

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialiser le mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
