{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

{% for category in categories %}
<ul>
    <li>Nom : {{ category.name }}</li>
</ul>
{% endfor %}

{% endblock %}
