{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div id="product-data" data-product='{{ product|json_encode|e('html_attr') }}'></div>

{% endblock %}
